<h2>Medical System</h2>
        <ul class="nav nav-tabs">
        <li><a  href="http://localhost:3000/account/new">CreateAccount</a></li>
        <li><a  href="http://localhost:3000/account/list">Customer Account List</a></li>
        <li class="active"><a  href="http://localhost:3000/customer/new">Add Insurance Plan</a></li>
        <li><a  href="http://localhost:3000/customer/list">Plan List</a></li>
        </ul>
        <br>
        <br>

<%= form_tag({:action => 'create'},:class => "form-horizontal") do |f| %>

    <fieldset>
    
    <!-- Form Name -->
    <legend>Account creation</legend>
      
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="account">Account No.</label>  
      <div class="col-md-4">
          <%= text_field 'customers', 'account_no' ,:class => "form-control input-lg" %>
      <span class="help-block">Account no.</span>
      </div>
     </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <%= submit_tag "Search", :class => "btn btn-primary btn-block" %>
        </div>
        <br>
        <br>
        <br>
        <br>
            
</fieldset>
<% end %>
<% if params[:account_no].blank? %>
<legend></legend>
<% else %>

<%= form_tag({:action => 'add'},:class => "form-horizontal") do |f| %>
<fieldset>


<legend>Plan Activate</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Account No</label>  
  <div class="col-md-4">
  <%= text_field 'customer', 'account_no',:value =>@account_no ,:class => "form-control input-mg" %>
  <span class="help-block">Customer's Account No.</span>  
  </div>
</div>
    
<div class="form-group">
  <label class="col-md-2 control-label" for="textinput">Firstname</label>  
  <div class="col-md-2">
  <%= text_field 'customer', 'firstname',:value => @firstname ,:class => "form-control input-mg" %>
  <span class="help-block">Firstname</span>  
  </div>
  <label class="col-md-1 control-label">Middlename</label>  
  <div class="col-md-2">
  <%= text_field 'customer', 'lastname',:value => @middlename ,:class => "form-control input-mg" %>
  <span class="help-block">Middlename</span>  
  </div>
  <label class="col-md-1 control-label">Lastname</label>  
  <div class="col-md-2">
  <%= text_field 'customer', 'lastname',:value => @lastname ,:class => "form-control input-mg" %>
  <span class="help-block">Lastname</span>  
  </div>  
</div>    

<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Plan</label>  
  <div class="col-md-4">
  <%= select('customer','plans', ([['Carry Forward','Insurance'],['Cash','Cash']]),{},{:class => "form-control"}) %>
  <span class="help-block">Plan id</span>  
  </div>
  <label class="col-md-2 control-label">Plan Name</label>  
  <div class="col-md-4">
  <%= text_field 'customer', 'planname' ,:class => "form-control input-mg" %>
  <span class="help-block">Plan Name</span>  
  </div>  
</div>

<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Pay Type</label>  
  <div class="col-md-4">
  <%= text_field 'customer', 'paytype' ,:class => "form-control input-mg" %>
  <span class="help-block">Pay Type card/cash</span>  
  </div>
  <label class="col-md-2 control-label" for="textinput">Plan Type</label>  
  <div class="col-md-4">
  <%= select('customer','plantype', ([['Insurance','Insurance'],['Third Party Insurance','Third Party Insurance']]),{},{:class => "form-control"}) %>
  <span class="help-block">Nature of the Plan</span>  
  </div>    
</div>




<div class="form-group">
  <label class="col-md-1 control-label" for="textinput">Accounting Method</label>  
  <div class="col-md-4">
  <%= select('customer','accountingmethod', ([['Carry Forward','Insurance'],['Cash','Cash']]),{},{:class => "form-control"}) %>
  <span class="help-block">Pick Accounting method</span>  
  </div>
  <label class="col-md-2 control-label" for="textinput">Head of House Account no</label>  
  <div class="col-md-4">
  <%= text_field 'customer', 'headofhouseaccn' ,:class => "form-control input-mg" %>
  <span class="help-block">Account no of head of the house as per registration</span>  
  </div>    
</div>

<div class="form-group">
  <div class="col-md-5"></div>
  <div class="col-md-2">
  <%= submit_tag "Add Plan", :class => "btn btn-success btn-block" %>
  </div>
    <div class="col-md-5"></div>
</div>

</fieldset>
<% end %>

<% end %>
