        <h2>Medical System</h2>
        <ul class="nav nav-tabs">
        <li><a  href="http://localhost:3000/account/new">CreateAccount</a></li>
        <li class="active"><a  href="http://localhost:3000/account/list">Customer Account List</a></li>
        <li><a  href="http://localhost:3000/customer/new">Add Insurance Plan</a></li>
        <li><a  href="http://localhost:3000/planlist/list">Plan List</a></li>
        </ul>
        <br>
        <br>
<legend>Account creation</legend>
    <fieldset>
<div class="col-md-10 col-md-offset-1">
    
  <table class="table table-responsive table-bordered">
     
    <thead>
      <tr>
        <th>Account No</th>
        <th>Firstname</th>
        <th>Middlename</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Head of House</th>
        <th>Edit Account</th>
        <th>Delete Account</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @account.each do |f|%>
        <td class="col-md-1"><%= f.account_no%></td>
        <td class="col-md-2"><%= f.firstname.capitalize%></td>
        <td class="col-md-2"><%= f.middlename.capitalize%></td>
        <td class="col-md-2"><%= f.lastname.capitalize%></td>
        <td class="col-md-1"><%= f.gender.capitalize%></td>
        <td class="col-md-2"><%= f.birthdate%></td>
        <td class="col-md-2"><%= f.headofhouse.capitalize%></td>
        <td class="col-md-1"><%= link_to "Edit".html_safe, {:action => 'edit', :id => f.id, method: :get}, :class => "btn btn-primary btn-block" %></td> 
        <td class="col-md-1"><%= link_to "Delete".html_safe, {:action => 'delete', :id => f.id, method: :get}, :class => "btn btn-danger btn-block" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
        
  </div>
</fieldset>