<%= form_tag({:action => 'create'},:class => "form-horizontal") do |f| %>

    <fieldset>
    
    <!-- Form Name -->
    <legend>Account creation</legend>
      
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="account">Account No.</label>  
      <div class="col-md-4">
          <%= text_field 'account', 'account_no' ,:class => "form-control input-md" %>
      <span class="help-block">Account no.</span>
      </div>
      <div class="col-md-2">
          <%= button_to "Auto Assign", {:controller => "account", :action => "auto_assign"} , {:method=>:get} %>   
          
      </div> 
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="account_lastname">Lastname</label>  
      <div class="col-md-4">
      <%= text_field 'account', 'lastname' ,:class => "form-control input-md"%>
      <span class="help-block">input your lastname</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="account_firstname">Firstname</label>  
      <div class="col-md-4">
            <%= text_field 'account', 'firstname' ,:class => "form-control input-md"%>
      <span class="help-block">input your firstname</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="account_middlename">Middlename</label>  
      <div class="col-md-4">
      <%= text_field 'account', 'middlename' ,:class => "form-control input-md"%>
      <span class="help-block">input your middlename</span>  
      </div>
    </div>
    
    <!-- Button Drop Down -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="account_gender">Gender</label>
      <div class="col-md-4">
       
         <%= select('account','gender', ([['Male','Male'],['Female','Female']]),{},{:class => "form-control"}) %>
                   
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="account_headofhouse">Head Of House</label>  
      <div class="col-md-4">
            <%= text_field 'account', 'headofhouse' ,:class => "form-control input-md"%>
      <span class="help-block">Enter the name of the head of the house</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="account_birthdate">Birthdate</label>  
      <div class="col-md-4">
            <%= text_field 'account', 'birthdate' ,:class => "form-control input-md"%>
      <span class="help-block">Date of birth</span>  
      </div>
    </div>
    
    <!-- Button (Double) -->
    <div class="form-group">
      <div class="col-md-4">
      </div>
      <div class="col-md-2">
          <%= submit_tag "Create", :class => "btn btn-danger btn-block" %>
            
      </div>
      
    </div>
    
    </fieldset>
   <% end %>
